html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.btn-change-px {
  margin-top: 20px;
}

h2 {
  margin-top: 200px;
}

.section-search input {
  font-size: 18px !important;
  width: 80vh !important;
  border: #f4f4f4 3px solid !important;
}

.autocomplete-content {
  position: absolute;
  width: 100%;
  text-align: center;
}

.field-float-left {
  float: left;
  width: 80vh !important;
}

.icon-float-right {
  float: right;
  margin-left: 33px;
}

.section-follow .fa-4x {
  margin: 10px 15px;
}

.section-contact h5 {
  margin-bottom: 30px;
}
